*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

min-height:100vh;

background:
linear-gradient(
135deg,
#0f172a 0%,
#111827 50%,
#1e293b 100%
);

display:flex;
justify-content:center;
align-items:center;

padding:20px;

color:white;

}

.card{

width:100%;
max-width:500px;

background:
rgba(255,255,255,0.05);

backdrop-filter:blur(20px);

border:
1px solid rgba(255,255,255,0.1);

border-radius:24px;

padding:25px;

box-shadow:
0 0 25px rgba(0,255,255,0.15);

}

h2{

text-align:center;

margin-bottom:25px;

font-size:28px;

font-weight:700;

color:#00e5ff;

text-shadow:
0 0 15px rgba(0,229,255,.5);

}

button{

width:100%;

padding:15px;

margin-top:12px;

border:none;

border-radius:14px;

font-size:16px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-2px);

}

button:nth-child(1){

background:
linear-gradient(
90deg,
#00c853,
#64dd17
);

color:white;

}

button:nth-child(2){

background:
linear-gradient(
90deg,
#ff1744,
#ff5252
);

color:white;

}

#form button{

background:
linear-gradient(
90deg,
#2196f3,
#00e5ff
);

}

input{

width:100%;

padding:14px;

margin-top:10px;

border-radius:12px;

border:
1px solid rgba(255,255,255,.15);

background:
rgba(255,255,255,.05);

color:white;

font-size:16px;

outline:none;

}

input::placeholder{

color:#bdbdbd;

}

#reader{

width:100%;

overflow:hidden;

border-radius:16px;

margin-top:15px;

border:2px solid #00e5ff;

box-shadow:
0 0 20px rgba(0,229,255,.3);

}

#nama{

margin-top:15px;

font-size:24px;

font-weight:bold;

color:#00e5ff;

text-shadow:
0 0 10px rgba(0,229,255,.5);

}

#barcode,
#kategori,
#merk,
#stok,
#satuan{

margin-top:8px;

padding:12px;

border-radius:12px;

background:
rgba(255,255,255,.05);

border:
1px solid rgba(255,255,255,.08);

text-align:left;

}

#stok{

color:#00ff95;

font-weight:bold;

}

::-webkit-scrollbar{
width:6px;
}

::-webkit-scrollbar-thumb{
background:#00e5ff;
border-radius:10px;
}
