@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

min-height:100vh;

background:
radial-gradient(circle at top left,#00e5ff22,transparent 30%),
radial-gradient(circle at bottom right,#00ff9522,transparent 30%),
linear-gradient(
135deg,
#0f172a,
#111827,
#1e293b
);

display:flex;
justify-content:center;
align-items:center;

padding:20px;

color:white;

}

.card{

width:100%;
max-width:550px;

padding:25px;

border-radius:25px;

background:
rgba(255,255,255,.06);

backdrop-filter:blur(18px);

border:
1px solid rgba(255,255,255,.08);

box-shadow:
0 0 40px rgba(0,229,255,.12);

}

h2{

text-align:center;

font-size:30px;

margin-bottom:25px;

color:#00e5ff;

letter-spacing:1px;

text-shadow:
0 0 15px rgba(0,229,255,.4);

}

button{

width:100%;

padding:15px;

margin-top:12px;

border:none;

border-radius:15px;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-2px);

box-shadow:
0 10px 20px rgba(0,0,0,.25);

}

#menu button:first-child{

background:
linear-gradient(
90deg,
#00c853,
#64dd17
);

color:white;

}

#menu button:last-child{

background:
linear-gradient(
90deg,
#ff1744,
#ff5252
);

color:white;

}

#form button{

background:
linear-gradient(
90deg,
#2196f3,
#00e5ff
);

color:white;

}

input{

width:100%;

padding:14px;

margin-top:12px;

border-radius:12px;

border:
1px solid rgba(255,255,255,.15);

background:
rgba(255,255,255,.05);

color:white;

font-size:16px;

outline:none;

}

input::placeholder{

color:#bdbdbd;

}

#reader{

margin-top:15px;

overflow:hidden;

border-radius:18px;

border:
2px solid #00e5ff;

box-shadow:
0 0 25px rgba(0,229,255,.25);

}

#nama{

margin-top:15px;

font-size:24px;

font-weight:700;

color:#00e5ff;

text-align:center;

}

#barcode,
#kategori,
#merk,
#stok,
#satuan{

margin-top:10px;

padding:12px 15px;

border-radius:12px;

background:
rgba(255,255,255,.05);

border:
1px solid rgba(255,255,255,.08);

font-size:14px;

}

#stok{

font-weight:bold;

color:#00ff95;

background:
rgba(0,255,149,.08);

border:
1px solid rgba(0,255,149,.2);

}

#form{

animation:fadeIn .4s ease;

}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(15px);
}

to{
opacity:1;
transform:translateY(0);
}

}

::-webkit-scrollbar{
width:6px;
}

::-webkit-scrollbar-thumb{
background:#00e5ff;
border-radius:10px;
}
